/* Write your CSS here */
.destination-Item {
  list-style-type: none;
  width: 250px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 30px;
}
.destination-image {
  width: 250px;
  height: 180px;
}
.name {
  color: #000000;
  font-family: 'Roboto';
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  name {
    font-size: 20px;
  }
}
